<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">LEADERSHIP | SKILLS | SUCCESS</h2>
              <hr class="light">
              <p class="text-faded">MSW Staffing focuses on placing temporary and permanent professionals in the Accounting, Finance and Technology Industries.</p>
              <p class="text-faded">We establish long standing relationships with our candidates which allows us to match them with their dream jobs. The relationships we have with our professionals provides us the ability to fulfill client requisitions quickly without sacrificing quality.</p>
              <p class="text-faded">Each professional goes through a rigorous screening process including a resume review, phone/video conversation, on-site interview and we also run a FREE background check before they are selected for hire at our expense to ensure the highest quality individuals are presented.  In other words, we are saving you both time and money.</p>
          </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">We Lead in Successful Placements</h2>
        <hr class="light">
        <p>Because it’s never just about a job;<br>it’s always about the right fit.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary" style="padding:0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center" style="background: url(/img/we-work.png) no-repeat;background-size:cover;min-height:410px;padding-top:100px">
        <p style="font-size:25px;color:#000">Grow a winning team by partnering with {{ site.title }}.</p>
        <p style="font-size:25px;color:#000">We do the work.</p>
        <p style="font-size:25px;color:#000">Let us handle your hiring so that can focus on the business.</p>
      </div>
      <div class="col-lg-6 text-center" style="background: url(/img/complicated.png) no-repeat;background-size:cover;min-height:410px">
        &nbsp;
      </div>
    </div>
  </div>
</section>
